@model WONDERLUST_PROJECT_ADMINs.Models.Country

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Wonderlust.cshtml";
}

 <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Country</h4>
                  <p class="card-description">
                Edit Country Here...
                  </p>
                
<div class="row">
    <div class="col-md-4">
                    <form class="forms-sample" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CountryId" />
           
            
            
            
            <div class="form-group">
                <label asp-for="CountryName" class="control-label">Country Name</label>
                <input  asp-for="CountryName" class="form-control" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>
            
       

           
                    <input type="hidden" class="form-check-input" asp-for="IsBlock" /> 
                    <input type="hidden" asp-for="CreatedAt" class="form-control" />
          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-warning" asp-action="Index">Back to List</a>
</div>


        </div>
    </div>
</div>